# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env
*.local
/.idea/